#ayah {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  font-weight: bold;

}

#ayah-div {
  padding: 2.5rem;
  box-shadow: 10px 0 10px 10px #a2a2a2;

  /*background-color: rgba(137, 127, 88, 0.23);*/

  background-color: rgba(192, 192, 192, 0.59);
  border-radius: 55px 5px 5px 5px;
  color: black;

  width: 38.5rem;
  height: 30rem;

  margin: -4% 0 0 100px;
}
