#body {
  text-align: center;
  background-color: rgba(255, 242, 164, 0.23);;
  height: 38rem;
  margin-left: 20%;
  margin-top: 9rem;
  border-style: ridge;
  border-width: thick;

}

#day {
  margin-top: -3.5rem;
  font-size: 19rem;
  font-weight: bold;
}

#turkish {
  margin-top: -10%;
  font-size: 5rem;
}

#gregorian {
  margin-top: 3rem;
  font-size: 3.5rem;
}
