#body {
  text-align: center;
  /*background-color: rgba(137, 127, 88, 0.23);;*/
  background-color: rgba(192, 192, 192, 0.59);

  height: 30rem;
  width: 26rem;

  margin-left: 15%;
  margin-top: 6rem;
  border-style: ridge;
  border-width: thick;
}

#day {
  margin-top: -2rem;
  font-size: 15rem;
  font-weight: bold;
}

#turkish {
  font-size: 3rem;
  font-weight: bold;
}

#gregorian {
  margin-top: 3.5rem;
  font-size: 3rem;
}
