#asma-div {
  padding: 5rem;
  box-shadow: 10px 10px 10px 10px #a2a2a2;

  /*background-color: rgba(137, 127, 88, 0.23);*/

  background-color: rgba(192, 192, 192, 0.59);
  border-color: rgba(238, 222, 146, 0.24);
  margin: 25px 0 0 100px;

  border-radius: 5px 5px 5px 5px;
  color: black;

  width: 38.5rem;
  height: 18rem;
}

#asma-circle {
  background-color: #989034;
  border-radius: 50%;
  margin-top: -5%;
  width: 200rem;
  height: 10rem;
  text-align: center;
  margin-left: -4.5rem;
}

#asma {
  position: relative;
  margin-top: 2.5rem;
  font-size: 3.5rem;
}

#asma-transcription {
  margin-top: -3rem;
  margin-left: 3rem;
  font-size: 3rem;
  font-weight: bold;
}

#asma-description {
  margin-left: 3rem;
  font-size: 1.5rem;
}
